openapi: 3.2.0
info:
  title: Red Hat Subscription Management Subscriptions API
  description: API for managing Red Hat Enterprise Linux subscriptions, entitlements, and system registrations. Enables automated lifecycle management of subscriptions, system inventory, and entitlement reporting using OAuth 2.0 with offline tokens.
  version: v1
  contact:
    name: Red Hat Customer Portal
    url: https://access.redhat.com/management/api
  termsOfService: https://www.redhat.com/en/about/terms-use
servers:
- url: https://api.access.redhat.com/management/v1
  description: Red Hat Subscription Management API v1
tags:
- name: Subscriptions
  description: Subscription and entitlement management
paths:
  /subscriptions:
    get:
      operationId: listSubscriptions
      summary: List Subscriptions
      description: Returns a list of subscriptions associated with the authenticated Red Hat account.
      tags:
      - Subscriptions
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 100
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      security:
      - OAuth2: []
      responses:
        '200':
          description: List of subscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subscription'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /allocations:
    get:
      operationId: listAllocations
      summary: List Allocations
      description: Returns a list of subscription allocations for the account.
      tags:
      - Subscriptions
      security:
      - OAuth2: []
      responses:
        '200':
          description: List of allocations
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/Allocation'
components:
  schemas:
    Allocation:
      type: object
      description: A subscription allocation
      properties:
        uuid:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
        version:
          type: string
        quantity:
          type: integer
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
    Subscription:
      type: object
      description: A Red Hat subscription
      properties:
        id:
          type: string
          description: Subscription identifier
        subscriptionNumber:
          type: string
        sku:
          type: string
          description: Product SKU
        quantity:
          type: integer
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - active
          - expired
          - future
    Pagination:
      type: object
      properties:
        count:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
          scopes: {}
